html, body {
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}
ul {
    list-style-position: inside;
}

.container {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.left {
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
    min-height: 0;
    min-width: 0;
    overflow-y: auto;
}

.right {
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 0;
    min-width: 0;
    overflow-y: auto;
    background-color: #f9f9f9;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    border: 1px solid #333;
    padding: 8px;
    text-align: center;
}

tr:hover{
    background-color: #f2f2f2
}

.highlight-line {
    display: block;
    background-color: yellow;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.hidden-text {
    color: transparent;
    text-decoration: none;
}

#text-container code {
    tab-size: 2;
}

thead th a {
    color: #CCCCCC;
    text-decoration: none;
}

thead th a:hover {
    color: #666666;
    text-decoration: underline;
}

thead tr:hover {
    background-color: transparent;
}
.tooltip {
    position: absolute;
    background-color: #555;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    font-size: 0.9em;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.2s;
    white-space: pre-wrap;
}
