<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>shtracer output</title>
  <link rel="stylesheet" href="./assets/template.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/github.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/highlight.min.js"></script>
  <script src="https://d3js.org/d3.v7.min.js"></script>
  <script src="https://unpkg.com/d3-sankey@0.12.3/dist/d3-sankey.min.js"></script>
</head>
<body>
  <div class="container">
    <div class="left">
      <h1>shtracer output</h1>
      <h2>Trace targets</h2>
        <!-- INSERT INFORMATION -->
      <h2>Traceability Flow</h2>
      <div id="sankey-diagram" style="width: 100%; height: 600px;"></div>
      <h2>Requirement traceability matrix</h2>
      <table id="tag-table">
        <!-- INSERT TABLE -->
      </table>
      <div id="tooltip" class="tooltip"></div>
    </div>

    <div class="right">
      <div id="file-information"></div>
      <pre id="text-container"></pre>
    </div>
  </div>
  <script src="./assets/show_text.js"></script>
  <script src="./assets/sankey.js"></script>
</body>
</html>
